
    .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
    margin-bottom: 50px;
  }
  
  .headerTitleSm {
    position: absolute;

    font-size: 50px;
    margin-bottom: 50px;
    font-family: "Lora", serif;
  }
  
  
  
  .headerImg{
      width: 96%;
      height: 650px;
      margin-top: 80px;
      object-fit: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }


  @media screen and (max-width: 900px) {
    .headerTitleSm {
      font-size: 1.5rem;
    }
  }

