.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .overview h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .movie-summary {
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
  }
  
  .movie-summary h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-summary p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  .movie-summary strong {
    font-weight: bold;
  }
  